# Default ignored files
/../../FredholmEquationSolver /.idea/shelf/
/../../FredholmEquationSolver /.idea/workspace.xml
# Editor-based HTTP Client requests
/../../FredholmEquationSolver /.idea/httpRequests/
# Datasource local storage ignored files
/../../FredholmEquationSolver /.idea/dataSources/
/../../FredholmEquationSolver /.idea/dataSources.local.xml
